*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: hsl(30, 38%, 92%);
   display: flex;
   height: 100vh;
   align-items:center ;
   justify-content: center;
}

.container {
   margin: 30px;
}

.whole {
   display: grid;
   grid-template-columns: 1fr 1fr;
   max-width: 700px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 15px;
   overflow: hidden;
}

.pic {
   width: 100%;
   display: inherit;
}

.right {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 30px;
}

.product-class {
   color: hsl(228, 12%, 48%);
   letter-spacing: 3px;
   font-family: Montserrat;
   text-transform: uppercase;
}
.product-name {
   font-family: Fraunces;
   font-size: 34px;
   line-height: 1em;
}
p.product-des {
   font-size: 14px;
   line-height: 1.6em;
   font-family: Montserrat;
   color: hsl(228, 12%, 48%);
}

.price {
   display: flex;
   align-items: center;
}

.new-price {
   font-size: 32px;
   color: hsl(158, 36%, 37%);;
}
.old-price {
   text-decoration: line-through;
   padding-left: 30px;
}

.button {
   background-color: hsl(158, 36%, 37%);
   border: none;
   padding: 15px 0;
   border-radius: 5px;
   color: white;
}
.button:hover {
   background-color: hsl(158, 35%, 24%);
   cursor: pointer;
}

.button img {
   padding-right: 10px;
}

@media only screen and (max-width:628px){
   .whole {
      display:grid;
      grid-template-columns: 1fr;
   }

   .pic {
      max-height: 450px;
      width: 100%;
      object-fit: cover;
   }

   .product-class, .product-name, p.product-des, .price{
      margin-bottom: 23px;
   }
}